# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/DCCMerge/DCCMerge/Debug
/DCCMerge/DCCMerge.opensdf
/DCCMerge/DCCMerge.sdf
/DCCMerge/DCCMerge.v12.suo
